html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  font-family: var(--font-secondary);
  font-size: var(--font-size-12);
  line-height: var(--font-line-height-1-58);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
}

a {
  color: inherit;
}

/* TODO: make it work with :focus:not(:focus-visible) */
* {
  outline: none;
}

ol,
ul {
  list-style: none;
}