.hide { display: none; }

.a11y-invisible-element {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
  font-size: 0;
}
@media (--xs-viewport-only) {
  .a11y-invisible-element-xs-only {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    overflow: hidden;
    font-size: 0;
  }
}