.hide { display: none; }

.a11y-invisible-element {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: rem(1);
  width: rem(1);
  overflow: hidden;
  font-size: 0;
}

@media (--sm-viewport) {
  .hide-sm-up { display: none; }
}

@media (--xs-viewport-only) {
  .hide-xs-only { display: none; }
  .a11y-invisible-element-xs-only {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: rem(1);
    width: rem(1);
    overflow: hidden;
    font-size: 0;
  }
}