@import "settings/colors.pcss";
@import "settings/typography.pcss";
@import "settings/breakpoints.pcss";
@import "ress";

.app {
  text-align: center;

  @media (--sm-viewport) {
    text-align: left;
  }
}