.page {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 10px;

  &__header {
    height: 100px;
  }

  &__footer {
    height: 100px;
  }
}

.data-description {
  margin-top: 5px;
  font-size: var(--font-size-16);
}

.separator {
  margin: 20px 0;
  border: none;
  border-top: 1px solid var(--color-iron);
  position: relative;
}