:root {
  --font-primary: Verdana, Geneva, sans-serif;
  --font-secondary: Helvetica, Arial, sans-serif;

  --font-size-16: 16px;

  --font-line-height-1-58: 1.58;

  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-600: 600;
}